body,
#tarjeta,
.card {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #063a88;
    text-align: center;
    background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
}

#barra {
    color: #063a88;
}

#yo {
    text-align: justify;
}

#goldi {
    font-size: 25px;
}

#foto,
#proyectos {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#formulario {
    text-align: left;
}